body {
background-color: white;
font-family: arial;
width: 1250px;
}

.button {
    background-color: #3498db;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
    border-radius: 5px;
    font-family: Arial;
    color: #ffffff;
    font-size: 28px;
    padding: 10px 20px 40px 20px;
    margin-left: 137px;
    margin-top: 65px;
}

.disabledButton {
    background-color: #3498db;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    background-image: -webkit-linear-gradient(top, #777777, #555555);
    background-image: -moz-linear-gradient(top, #777777, #555555);
    background-image: -ms-linear-gradient(top, #777777, #555555);
    background-image: -o-linear-gradient(top, #777777, #555555);
    background-image: linear-gradient(to bottom, #777777, #555555);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
    border-radius: 5px;
    font-family: Arial;
    color: #ffffff;
    font-size: 28px;
    padding: 10px 20px 40px 20px;
    margin-left: 137px;
    margin-top: 65px;

}

#searchbutton {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 28px;
  padding: 10px 20px 10px 20px;
  margin-top:40px;
  text-decoration: none;
}

#searchbutton: hover {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 28px;
  padding: 10px 20px 10px 20px;
  margin-top:40px;
  text-decoration: none;
}



.button:hover {
  background: #3cb0fd;
}

.heading {
	color: #939dad;
	font-size: 50px;
	text-align: center;
	color: black;
	font-family: 'PT Sans Narrow', sans-serif;
}

#logo {
	width: 50px;
	height: 50px;
	}

#datepicker, #datepicker1 {
z-index: -100;  
}

h1 {
	color: #939dad;
	font-size: 40px;
	text-align: center;
	color: black;
	margin-top: 50px;
}

h2 {
	color: #939dad;
	font-size: 40px;
	text-align: center;
	color: black;
}

table {
	width: 100%
}



.table1 {
	font-size: 18px;
	margin: auto;
	width:  100%;
	height: 150px;
	border: 1px solid black;
}

.table2 {
	font-size: 18px;
	margin: auto;
	width: 100%;
	height: 50px;
	border: 1px solid black;
}

td {
	vertical-align: text-top;
	 
    border-collapse: collapse;
}

th {
    border-collapse: collapse;
    background-color: #D8D8D8;
}

tr:nth-child(odd) {
	background: #689df2
}

tr:nth-child(even) {
	background: #FFFFFF
}

tr {
	 text-align: center;
}

tr #price {
	text-align: right;
	left: 50%;
    margin-right: -50%;
    transform: translate(-40%, 0%)
}

.search {
display: none;
}

#searchform1 {
  width: 600px;
  position: absolute;
	left: 15%;
  margin: auto;
}

#searchform2 {
  width: 600px;
  position: absolute;
  left: 40%;
  margin: auto;
}

#searchform3 {
  width: 600px;
  position: absolute;
  left: 65%;
  margin: auto;
}

#searchform4 {
    position: absolute;
    left: 25%;
    bottom: 24%;
    width: 600px;
    margin: auto;
}

#searchid {
  position: absolute;
  left: 40%;
  bottom: -60%;
}


.container, .content, .search{
	width:1250px;
	  
}

.OrderButtonPanelAll {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 28px;
  padding: 10px 30px 10px 20px;
  margin-top:40px;
  margin-right: 30px;
  margin-left: -125px;
  text-decoration: none;
}

.OrderButtonPanelAll:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.OrderButtonPanelPen {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 28px;
  padding: 10px 20px 10px 20px;
  margin-top:40px;
  margin-right: 30px;
  text-decoration: none;
}

.OrderButtonPanelPen:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.OrderButtonPanelPick {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 28px;
  padding: 10px 20px 10px 20px;
  margin-top:40px;
  margin-right: 30px;
  text-decoration: none;
}

.OrderButtonPanelPick:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.OrderButtonPanelShip {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 28px;
  padding: 10px 20px 10px 20px;
  margin-top:40px;
  margin-right: 30px;
  text-decoration: none;
}

.OrderButtonPanelShip:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}



.OrderButtonPanel2 {

  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 18px;
  padding: 5px 10px 5px 10px;
  margin-top: 134px; 
  margin-left: 545px;
  width:175px;
  text-decoration: none;
}

.OrderButtonPanel2:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

#packingSlip{
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 28px;
  padding: 10px 30px 10px 20px;
  margin-top:40px;
  margin-right: 10px;
  margin-left: 5px;
  text-decoration: none;
  width: 300px;
}

#printLabel{
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 28px;
  padding: 10px 30px 10px 20px;
  margin-top:40px;
  margin-right: 10px;
  margin-left: 5px;
  text-decoration: none;
  width: 300px;
}

#picked{
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 28px;
  padding: 10px 30px 10px 20px;
  margin-top:-52px;
  margin-right: 10px;
  margin-left: 635px;
  text-decoration: none;
  width: 300px;
}

#shipped{
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 28px;
  padding: 10px 30px 10px 20px;
  margin-top:-69px;
  margin-right: 10px;
  margin-left: 950px;
  text-decoration: none;
  width: 300px;
}

#shippedDisabled{
  background: #3498db;
    background-image: -webkit-linear-gradient(top, #777777, #555555);
    background-image: -moz-linear-gradient(top, #777777, #555555);
    background-image: -ms-linear-gradient(top, #777777, #555555);
    background-image: -o-linear-gradient(top, #777777, #555555);
    background-image: linear-gradient(to bottom, #777777, #555555);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 28px;
  padding: 10px 30px 10px 20px;
  margin-top:-73px;
  margin-right: 10px;
  margin-left: 950px;
  text-decoration: none;
  width: 300px;
}

#pickedDisabled{
  background: #3498db;
    background-image: -webkit-linear-gradient(top, #777777, #555555);
    background-image: -moz-linear-gradient(top, #777777, #555555);
    background-image: -ms-linear-gradient(top, #777777, #555555);
    background-image: -o-linear-gradient(top, #777777, #555555);
    background-image: linear-gradient(to bottom, #777777, #555555);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 28px;
  padding: 10px 30px 10px 20px;
  margin-top:-52px;
  margin-right: 10px;
  margin-left: 635px;
  text-decoration: none;
  width: 300px;
}

#packingslip:hover, #printLabel:hover, #picked:hover, #shipped:hover{
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}



.buttonpanel {
	position: relative;
	left: 15%;
	margin-top: 0px;
	padding:20px;
}